<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/youtube.css">
    <title>Download</title>
</head>

<body>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="field ">
                <input class="link" type="url" name="link" />
            </div>
            <div class="field upload">
                <button type="submit" value="Upload"> 
                    Download
                </button>
            </div>
        </form>
    </div>
</body>

</html>