<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/youtube.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/upload.css">
    <title>Download</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home">Home</a>
            <a class="nav-item nav-link" href="/upload">Łączenie pdf</a>
            <a class="nav-item nav-link" href="/rotate">Obracanie strony w pdf</a>
            <a class="nav-item nav-link disabled" href="/youtube">Pobieranie z YT<span class="sr-only">(current)</span></a>
          </div>
        </div>
    </nav>
    
    <div class="container">
        <form action="/success" method="post" enctype="multipart/form-data">
            <div class="field ">
                <input class="link" type="url" name="link" />
            </div>
            <div class="field upload">
                <button type="submit" value="Upload"> 
                    Download
                </button>
            </div>
        </form>
    </div>
</body>

</html>