{% extends 'base.html' %}

{% block content %}
<title>Download</title>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <p style="text-align: center;">{{context}}</p>
        <div class="field ">
                <input class="link" type="url" name="link" />
            </div>
            <div class="field upload">
                <button type="submit" value="Upload"> 
                    Download
                </button>
            </div>
        </form>   
    </div>
{% endblock %}